form {
  margin: 0 0 1em 0;
  white-space: nowrap;
}
progress {
  width: calc(100% - 8.5em);
}
body{
  background-color: #CCF;

}
textarea {
  height: auto;
}
div.progress, div#bitrate {
  margin: 0 0 1em 0;
}

div.progress div.label {
  display: inline-block;
  font-weight: 400;
  width: 8.2em;
}
.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

}
.chatspace{
  height: 500px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  float: left;
  background-color: #CCF;
  margin-bottom: 20px;
}
.videospace{
  height: 500px;
  width: 75%;
  float: left;
}
.localvideoarea{
  height: 160px;
  width: 213px;
  float: left;
  margin-left: 140px;
  margin-top: 10px;
  border: 3px solid white;
}
.remotevideoarea{
  position: absolute;
  left: 8px;
  height: 500px;
  width: 930px;
  z-index: -1;
}
.filespace{
  background-color: grey;
  clear: both;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
