.localsucio{
  height:200px;
  width:200px;
  z-index: 1;
  align-items: flex-end;
  justify-content: flex-end;
}

.remotesucio
{ background-color: yellow;
  align-items: stretch;
  justify-content: flex-start;
  z-index: -1;
}

.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

}
.videospacesucio {
    flex: 2;
    border: 2px solid yellow;
}

.chatspace{
  height: 500px;
  width: 25%;
  float: left;
  background-color: #CCF;
}
.videospace{
  height: 500px;
  width: 75%;
  float: left;
}
.localvideoarea{
  height: 100px;
  width: 200px;
  float: left;
  background-color: #CFC;
  border: 5px solid white;
}
.remotevideoarea{
  height: 300px;
  width: 400px;
  background-color: #FF9;
}

.chatspacesucio {
  flex: 1;
    margin-right: 20px;
}


.posterior{
  height: 100px;
  width: 200px;
  background-color: #CCF;
}
.footer{
  height: 100px;
  background-color: red;
  clear: both;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.content {
  position: relative;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}
.content video {
  width: 100%;
  display: block;
}
.content:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
}
