div.progress, div#bitrate {
  margin: 0 0 1em 0;
}

div.progress div.label {
  display: inline-block;
  font-weight: 400;
  width: 8.2em;
}

form {
  margin: 0 0 1em 0;
  white-space: nowrap;
}

progress {
  width: calc(100% - 8.5em);
}



.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

}
textarea {
  height: auto;
}

.chatspace{
  height: 500px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  float: left;
  background-color: #CCF;
}

.videospace{
  height: 500px;
  width: 75%;
  float: left;
}
.localvideoarea{
  height: 160px;
  width: 213px;
  float: left;
  margin-left: 140px;
  margin-top: 10px;
  border: 3px solid white;
}
.remotevideoarea{
  position: absolute;
  left: 8px;
  height: 500px;
  width: 930px;
  z-index: -1;
}



.filespace{
  height: 100px;
  width: 100%;
  background-color: #FF9;
  clear: both;
}
.footer{
  height: 100px;
  background-color: red;
  clear: both;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.content {
  position: relative;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}
.content video {
  width: 100%;
  display: block;
}
.content:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
}
